services:
  postgres:
    image: postgres:14
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data

  airflow-webserver:
    image: apache/airflow:2.8.1
    depends_on:
      - postgres
      - airflow-scheduler
    extra_hosts:
    - "host.docker.internal:host-gateway"
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__WEBSERVER__SECRET_KEY=whateversecret
      - _PIP_ADDITIONAL_REQUIREMENTS=
    command: webserver
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - C:/Users/Oana/Desktop/etl_project:/opt/airflow/etl_project

  airflow-scheduler:
    image: apache/airflow:2.8.1
    depends_on:
      - postgres
    extra_hosts:
    - "host.docker.internal:host-gateway"
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
    command: scheduler
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - C:/Users/Oana/Desktop/etl_project:/opt/airflow/etl_project

  airflow-init:
    image: apache/airflow:2.8.1
    depends_on:
      - postgres
    extra_hosts:
    - "host.docker.internal:host-gateway"
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - C:/Users/Oana/Desktop/etl_project:/opt/airflow/etl_project
    command: >
      bash -c "
      airflow db init &&
      airflow users create
        --username airflow
        --password airflow
        --firstname admin
        --lastname user
        --role Admin
        --email admin@example.com
      "

volumes:
  postgres-db-volume:
